<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Dream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DreamBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DreamTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62D9B4C3AEA846EE85B4CCB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A85F1D89B134E54A5D97351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E8E07AE6E44CF8A9483B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA0555B58F8F4DB1BCE1A6AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92D53C17B4A42839D326ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF55FB10E72C4791BB12E193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
