<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Dream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DreamBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DreamTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E3E69EC8D544D5293476E05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31235E5EB8A84A31A5D8D553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>738C537C082E49D38D7503B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93D2A5EE06264C29B5350C6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D11CAF412648469E9718A050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8C9276EBAF54594BBFF964A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
