<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Dream.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DreamBase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DreamTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09BAD830A54C4279B0C36A25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FE07B56FDD5450A9DFFB1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>190B97795D244B01B1633138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55DA360C07A5462089A17CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFCEA5CE151C40BB9217B1F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A78218E383470CAB8F1553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
