<div class="container-fluid">
	<a class="navbar-brand" href="#home">
		<img alt="Brand" width="50" height="50" src="/favicon.png">
	</a>
	<h1>
		Dream Tool
	</h1>
	<br />
	<div class="row">
		<div class="pull-left col-md-6 fill">
			<div class="well fill">
				<h2>
					Getting Started
				</h2>
				<p>
					This tool is used to create, modify and manage Dream projects.
				</p>
				<h2>
					Project Structure
				</h2>
				<p>
					Projects are composed of the objects described below.
					Click any object to see more information about it's role within a project.
				</p>
				<br>
				<abn-tree expand-level="5" tree-data="helpTreeData">
			</div>
		</div>
		<div class="col-md-6 fill">
			<div class="well fill">
				<div ng-show="showProject"
				     ng-include="'view/partials/home/project/project.html'"></div>

				<div ng-show="showProjectScene"
				     ng-include="'view/partials/home/project/scene/scene.html'"></div>

				<div ng-show="showProjectSceneScenegraph"
				     ng-include="'view/partials/home/project/scene/scenegraph/scenegraph.html'"></div>

				<div ng-show="showProjectSceneBulletWorld"
				     ng-include="'view/partials/home/project/scene/bulletworld.html'"></div>

				<div ng-show="showProjectSceneScenegraphSceneObject"
				     ng-include="'view/partials/home/project/scene/scenegraph/sceneobject/sceneobject.html'"></div>

				<div ng-show="showProjectSceneScenegraphSceneOjectModifier"
				     ng-include="'view/partials/home/project/scene/scenegraph/sceneobject/modifier.html'"></div>

				<div ng-show="showProjectSceneScenegraphSceneObjectEventListener"
				     ng-include="'view/partials/home/project/scene/scenegraph/sceneobject/eventlistener.html'"></div>

				<div ng-show="showProjectAsset"
				     ng-include="'view/partials/home/project/asset/asset.html'"></div>
				<div ng-show="showProjectAssetAnimation"
				     ng-include="'view/partials/home/project/asset/animation.html'"></div>

				<div ng-show="showProjectAssetModel"
				     ng-include="'view/partials/home/project/asset/model.html'"></div>

				<div ng-show="showProjectAssetAudio"
				     ng-include="'view/partials/home/project/asset/audio.html'"></div>
			 </div>
		</div>
	</div>
</div>
