<h2>Project Properties<small class="pull-right">({{project.name}})</small></h2>
<br>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Configuration
        </div>
        <table class="table table-condensed table-bordered table-striped">
          <tbody>
            <tr>
              <td class="col-md-6">Name</td>
              <td class="col-md-6">
                <input type="text" ng-change="modified()" class="form-control input-sm" ng-model="project.name"/>
              </td>
            </tr>
            <tr>
              <td>Author</td>
              <td>
                <input type="text" ng-change="modified()" class="form-control input-sm" ng-model="project.author"/>
              </td>
            </tr>
            <tr>
              <td>Description</td>
              <td>
                <input type="text" class="form-control input-sm" ng-change="modified()" ng-model="project.description" />
              </td>
            </tr>
            <tr>
                <td>Window Size</td>
                <td>
                    <div class="row">
                        <div class="col-md-6">
                            <input ng-change="modified()" ng-model="project.windowSize.width" class="form-control input-sm" type="number"/>
                        </div>
                        <div class="col-md-6">
                            <input ng-change="modified()" ng-model="project.windowSize.height" class="form-control input-sm" type="number"/>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
              <td>Startup Scene</td>
              <td>
                <select ng-model="project.startupScene" ng-change="modified()" class="form-control input-sm">
                  <option value="" disabled hidden>Select Startup Scene</option>
                  <option ng-repeat="scene in sceneList" value="{{scene.uuid}}">{{scene.name}}</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      <div class="panel-footer">Project UUID: {{project.uuid}}</div>
    </div>
    </div>
  </div>
</div>
