<div class="container-fluid">
	<h1>
		<strong>Dream Tool</strong>
	</h1>
	<br />
	<div class="row">
		<div class="col-md-4 fill">
			<div class="well fill">
				<h2>
					Getting Started
				</h2>
				<p>
					This tool is used to create, modify and manage Dream projects.
				</p>
				<h2>
					Project Structure
				</h2>
				<p>
					Projects are composed of the objects described below.
					<br>
					Click any object to see more information about it's role within a project.
				</p>
				<br>
				<ul>
					<li><!--Project-->
						<a  ng-click="onHelpProjectClicked()">Project</a>
						<ul>
							<li><!--Scene-->
								<a  ng-click="onHelpProjectSceneClicked()">Scene</a>
								<ul>
									<li>
										<a ng-click="onHelpProjectSceneScenegraphClicked()">Scene Graph</a>
										<ul>
											<li><!--Scene Object-->
												<a  ng-click="onHelpProjectSceneSceneObjectClicked()" >Scene Object</a>
												<ul>
													<li>
														<a  ng-click="onHelpProjectSceneSceneObjectModifierClicked()" >Modifier</a>
														<ul>
															<li>
																<a  ng-click="onHelpProjectSceneSceneObjectModifierEventListenerClicked()">Event Listener</a>
															</li>
														</ul>
													</li>
												</ul>
											</li><!--Close SceneObject-->
										</ul>
									</li>
									<li>
										<a ng-click="onHelpProjectSceneBulletWorldClicked()">Bullet World</a>
									</li>

								</ul>
							</li><!--Close Scene-->
							<li><!--Resources-->
								<a ng-click="onHelpProjectResourceClicked()">Resource</a>
								<ul>
									<li>
										<a ng-click="onHelpProjectResourceModelClicked()">Model</a>
									</li>
									<li><!--Animation-->
										<a  ng-click="onHelpProjectResourceAnimationClicked()">Animation</a>
										<ul>
											<li><a  ng-click="onHelpProjectResourceAnimationBezierClicked()">Bezier</a></li>
											<li><a  ng-click="onHelpProjectResourceAnimationLinearClicked()">Linear</a></li>
											<li><a  ng-click="onHelpProjectResourceAnimationOrbitalClicked()">Orbital</a></li>
										</ul>
									</li><!--Close Animation-->
									<li><!--Audio-->
										<a >Audio</a>
										<ul>
											<li><a >Sound Effect</a></li>
											<li><a >Music</a></li>
										</ul>
									</li><!--Close Audio-->
								</ul>
							</li><!--Close Resources-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8 fill">
			<div class="well fill">
				<div ng-show="showHelpProject" ng-include="'view/partials/home/help/project/project.html'"></div>
				<div ng-show="showHelpProjectConfiguration" ng-include="'view/partials/home/help/project/configuration.html'"></div>
				<div ng-show="showHelpProjectScene" ng-include="'view/partials/home/help/project/scene/scene.html'"></div>
				<div ng-show="showHelpProjectSceneScenegraph" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectSceneBulletWorld" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectSceneSceneObject" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectSceneSceneOjectModifier" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectSceneSceneObjectModifierEventListener" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectResource" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectResourceAnimation" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectResourceModel" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectResourceAudio" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectResourceAudioSoundEffect" ng-include="'view/partials/home/help/project/'"></div>
				<div ng-show="showHelpProjectResourceAudioMusic" ng-include="'view/partials/home/help/project/'"></div>
			</div>
		</div>
	</div>
</div>
