<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Scenes
        </div>
        <table class="table table-hover  table-condensed table-striped">
          <thead>
            <tr>
              <th>
              </th>
              <th>
                Name
              </th>
              <th>
                Objects
              </th>
              <th>
                UUID
              </th>
              <th>
                Remove
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="scene in project.scenes" ng-click="onSceneSelected(scene.uuid)">
              <td>
                <button ng-click="goToSceneEditor(scene.uuid)" class="btn btn-sm btn-default">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
              <td>
                {{scene.name}}
              </td>
              <td>
                {{scene.objects.length}}
              </td>
              <td>
                {{scene.uuid}}
              </td>
              <td>
                <button ng-click="onRemoveSceneButtonClicked(scene.uuid)" class="btn btn-sm btn btn-danger btn btn-sm-sm"><span class="glyphicon glyphicon-remove"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="panel-footer">
          <button ng-click="onNewSceneButtonClicked()" class="btn btn-sm btn btn-success">New Scene</button>
          <br/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-show="currentScene !== undefined && currentScene !== null" class="panel panel-default">
        <div class="panel-heading">
          Configure Scene
        </div>
        <table class="table table-condensed table-bordered table-striped">
          <tbody>
            <tr>
              <td>Name</td>
              <td>
                <input id="name" ng-disabled="currentScene === undefined" type="text" ng-change="modified()" class="form-control input-sm" ng-model="currentScene.name" />
              </td>
            </tr>
            <tr>
              <td>Notes</td>
              <td>
                <input type="text" ng-model="currentScene.notes" ng-change="modified()" class="form-control input-sm"/>
              </td>
            </tr>
            <tr>
              <td>Scene Script</td>
              <td>
                <select ng-model="currentScene.sceneScript" ng-change="modified()" class="form-control input-sm">
                  <option ng-repeat="script in scriptAssetsList" value="{{script.uuid}}">{{script.name}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Animation</td>
              <td>
                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="enableAnimation" ng-disabled="currentScene === undefined" ng-change="modified()" ng-model="currentScene.animationEnabled" />
                  <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Audio</td>
              <td>
                <div class="checkbox checkbox-info">
                  <input id="enableAudio" type="checkbox" ng-change="modified()" ng-disabled="currentScene === undefined" ng-model="currentScene.audioEnabled" />
                  <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Input</td>
              <td>
                <div class="checkbox checkbox-info">
                  <input id="enableInput" type="checkbox" ng-change="modified()" ng-disabled="currentScene === undefined" ng-model="currentScene.inputEnabled" />
                  <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Physics</td>
              <td>
                <div class="checkbox checkbox-info">
                  <input id="enableBullet" type="checkbox" ng-change="modified()" ng-disabled="currentScene === undefined" ng-model="currentScene.physicsEnabled" />
                  <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Scripting</td>
              <td>
                <div class="checkbox checkbox-info">
                  <input id="enableScripting" type="checkbox" ng-change="modified()" ng-disabled="currentScene === undefined" ng-model="currentScene.scriptingEnabled" />
                  <label></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>Video</td>
              <td>
                <div class="checkbox checkbox-info">
                  <input id="enableVideo" type="checkbox" ng-change="modified()" ng-disabled="currentScene === undefined" ng-model="currentScene.videoEnabled" />
                  <label></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
