.fill {
    /*min-height: 85%;*/
    height: 88%;
}

span.glyphicon-toolbar {
    font-size: 1.2em;
}

/*body {
    background-image : url("../img/giphy.1.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.well {
    opacity: 0.97;
}
*/
