<html ng-app="DreamTool">
<head>
  <link rel="icon" type="image/png" href="favicon.png" />
  <title>Dream Tool</title>
  <!-- Libraries -->
  <script src="angular.min.js"></script>
  <script src="angular-cookies.js"></script>
  <script src="ui-bootstrap-tpls.js"></script>
  <script src="angular-ui-router.min.js"></script>
  <script src="abn_tree_directive.js"></script>
  <script src="FileSaver.js"></script>
  <script src="Blob.js"></script>
  <script src="angular-file-saver.min.js"></script>
  <script src="angular-animate.min.js"></script>
  <script src="angular-sanitize.min.js"></script>
  <script src="ngToast.min.js"></script>
  <script src="js/angular-css-injector.js"></script>
  <script src="/src-noconflict/ace.js"></script>
  <script src="/src-min-noconflict/keybinding-vim.js"></script>
  <script src="app/angular.audio.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="css/dream_tool.css">
  <link rel="stylesheet" href="css/awesome-bootstrap-checkbox.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="abn_tree.css">
  <link rel="stylesheet" href="ngToast.min.css">
  <link rel="stylesheet" href="ngToast-animations.min.css">
  <!-- Controllers -->
  <script src="controller/app.js"></script>
  <script src="controller/cookie_service.js"></script>
  <script src="controller/api_service.js"></script>
  <script src="controller/project_service.js"></script>
  <script src="controller/ui_service.js"></script>
  <script src="controller/util_service.js"></script>
  <script src="controller/index.js"></script>
  <script src="controller/config.js"></script>
  <script src="controller/generic.js"></script>
  <script src="controller/home.js"></script>
  <!-- Project Pages -->
  <script src="controller/project/project.js"></script>
  <script src="controller/project/scene/list.js"></script>
  <script src="controller/project/scene/editor.js"></script>
  <script src="controller/project/asset/list.js"></script>
  <script src="controller/project/asset/editor.js"></script>
  <!-- Modals -->
  <script src="controller/modals/yes_no.js"></script>
  <script src="controller/modals/open.js"></script>
  <script src="controller/modals/upload.js"></script>
  <script src="controller/modals/settings/about.js"></script>
  <script src="controller/modals/settings/settings.js"></script>
</head>
<body ng-controller="index" ngsf-fullscreen class="fullscreen">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#home">
          <img alt="Brand" width="20" height="20" src="/favicon.png">
        </a>
        <a href="#home" class="navbar-brand">
          <strong>
            Dream Tool
          </strong>
        </a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a  ng-click="onNewButtonClicked()">
            <span aria-hidden="true" class="glyphicon-toolbar glyphicon glyphicon-file"></span>
          </a>
        </li>
        <li>
          <a  ng-click="onOpenButtonClicked()">
            <span aria-hidden="true" class="glyphicon-toolbar glyphicon glyphicon-folder-open"></span>
          </a>
        </li>
        <li>
          <a  ng-click="onSaveButtonClicked()">
            <span aria-hidden="true" class="glyphicon-toolbar glyphicon glyphicon-floppy-disk"></span>
          </a>
        </li>
        <li>
          <a  ng-click="onPlayButtonClicked()">
            <span aria-hidden="true" class="glyphicon glyphicon-play"</span>
            </a>
          </li>
          <li>
            <a ng-click="onDeleteButtonClicked()"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li uib-dropdown is-open="status.isopen">
            <a uib-dropdown-toggle ng-disabled="disabled">
              <span aria-hidden="true" class="glyphicon-toolbar glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li role="menuitem"><a ng-click="onSettingsClicked()">Settings</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a ng-click="onSettingsHelpClicked()">Help</a></li>
              <li role="menuitem"><a ng-click="onSettingsAboutClicked()">About</a></li>
            </ul>
          </li>
          <li>
            <a ng-click="onCloseProjectButtonClicked()">
              <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Toast Alerts -->
    <toast></toast>
    <!-- Page Container -->
    <div class="container-fluid">
      <!-- Page Content -->
      <div class="row">
        <div class="col-md-3">
          <div class="fill well">
            <abn-tree expand-level="5" tree-data="treeData">
            </abn-tree>
          </div>
        </div>
        <div class="col-md-9">
          <div class="fill well">
            <ol class="breadcrumb">
              <li ng-repeat="bc in breadcrumbs">{{ bc }}</li>
            </ol>
            <div ui-view></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
