<div style="text-align: center;" class="panel-heading">
    <h1>
        <strong>
            <small>octronic</small>
            <br/>
            Dream Tool
        </strong>
    </h1>
</div>
<div  class="panel-body">
    <div class="row">
        <div style="text-align:center;" class="col-sm-6">
            <h3>
                Version
                <br/>
                <small>
                    <strong>v1.0.0a</strong>
                </small>
            </h3>
            <h3>
                Developed By
                <br/>
                <small>
                    <strong>Ashley Thompson</strong>
                </small>
            </h3>
            <h3>
                Web
                <br/>
                <small>
                    <strong>
                    <a href="http://octronic.co.uk">octronic.co.uk</a>
                    </strong>
                </small>
            </h3>
        </div>
        <!--div style="text-align: center; vertical-align: middle;" class="col-sm-6">
            <img width="128" height="128" src="favicon.png" />
        </div-->
        <div style="text-align: center; height:200px;" class="col-sm-6">
            <a target="_blank" href="https://github.com/BashEdThomps/dream.git">
                <img style="margin-top: 2.5em;" width="64" height="64" src="img/github.png" />
                <h3>View on GitHub</h3>
            </a>
        </div>
    </div>
</div>
<div style="text-align: center;" class="panel-footer">
    <button ng-click="dismissModal()" class="btn btn-success">Cool</button>
</div>
