<div style="text-align: center;" class="panel-heading">
    <h1>
        <small>octronic</small>
        <br/>
        DreamTool
    </h1>
</div>
<div  class="panel-body">
    <div class="row">
        <div class="col-sm-6">
            about about about about about about about about about about about
            about about about about about about about about about about about.
        </div>
        <div style="text-align: center;" class="col-sm-6">
            <img width="128" height="128" src="favicon.png" />
        </div>
    </div>
    <br />
    <br />
</div>
<div style="text-align: center;" class="panel-footer">
    <button ng-click="dismissModal()" class="btn btn-success">Cool</button>
</div>
