<div class="container-fluid">
    <h1>{{project.name}}</h1>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Configuration
                </div>
                <div class="panel-body">
                    <form class="form-group">
                        <label>Name</label>
                        <input type="text" ng-change="updateUI()" class="form-control" ng-model="project.name"/>
                    </form>
                    <form class="form-group">
                        <label>Author</label>
                        <input type="text" ng-change="projectModified()" class="form-control" ng-model="project.author"/>
                    </form>
                    <form class="form-group">
                        <label>Description</label>
                        <textarea class="form-control"
                                  ng-change="projectModified()"
                                  ng-model="project.description"
                                  rows="5">
                        </textarea>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
