<h2>Scene Editor<small class="pull-right">({{scene.name}})</small></h2>
<br>
  <div class=" row">
    <div class=" col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Scenegraph</div>
        <div class="panel-body">
          <abn-tree expand-level="5" tree-data="scenegraphTree"></abn-tree>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row" ng-show="selectedSceneObject !== null">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">Configuration</div>
            <table class="table table-bordered table-condensed">
              <tbody>
                <tr>
                  <td>UUID</td>
                  <td>{{selectedSceneObject.uuid}}</td>
                </tr>
                <tr>
                  <td class="col-md-4">Name</td>
                  <td class="col-md-8">
                    <input ng-change="modified()" class="input-sm form-control" type="text" ng-model="selectedSceneObject.name" />
                  </td>
                </tr>
                <tr>
                  <td>Translation</td>
                  <td>
                    <div class="row">
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.translation.x" class="form-control input-sm" type="number"/>
                      </div>
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.translation.y" class="form-control input-sm" type="number"/>
                      </div>
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.translation.z" class="form-control input-sm" type="number"/>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Rotation</td>
                  <td>
                    <div class="row">
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.rotation.x" class="form-control input-sm" type="number"/>
                      </div>
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.rotation.y" class="form-control input-sm" type="number"/>
                      </div>
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.rotation.z" class="form-control input-sm" type="number"/>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Scale</td>
                  <td>
                    <div class="row">
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.scale.x" class="form-control input-sm" type="number"/>
                      </div>
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.scale.y" class="form-control input-sm" type="number"/>
                      </div>
                      <div class="col-md-4">
                        <input ng-change="modified()" ng-model="selectedSceneObject.scale.z" class="form-control input-sm" type="number"/>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Transform Type</td>
                  <td>
                    <select ng-model="selectedSceneObject.transformType" ng-change="modified()" class="form-control input-sm">
                      <option ng-repeat="type in getSceneObjectTransformTypes()" value="{{type.type}}">{{type.name}}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                    <td>Has Focus</td>
                    <td>
                        <div class="checkbox checkbox-info">
                          <input ng-change="modified" ng-model="selectedSceneObject.hasFocus" type="checkbox" id="hasFocus"/>
                          <label></label>
                        </div>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">Asset Instances</div>
            <table class="table table-condensed table-striped table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Asset</th>
                  <th>Type</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="instance in selectedSceneObject.assetInstances">
                  <td>
                    <button ng-click="goToAssetEditor(instance)" class="btn btn-sm btn-default">
                      <span class="glyphicon glyphicon-edit"></span>
                    </button>
                  </td>
                  <td>{{ getAssetByUUID(instance).name }}</td>
                  <td>{{ getAssetByUUID(instance).type }}</td>
                  <td>
                    <button ng-click="onRemoveAssetInstanceButtonClicked(instance)" class="btn btn-sm btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="panel-footer">
              <div class="input-group">
                <div class="input-group-btn">
                  <button ng-disabled="selectedNewAssetInstance === ''" ng-click="onAddAssetInstanceButtonClicked()" class="btn btn-sm btn-success">Add Instance</button>
                </div>
                <select class="form-control input-sm" ng-model="selectedNewAssetInstance">
                  <option value="" disabled selected hidden>Select Asset</option>
                  <option ng-repeat="asset in assetList" value="{{asset.uuid}}">{{ asset.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">Children</div>
            <table class="table table-condensed table-striped table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>UUID</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="child in selectedSceneObject.children">
                  <td>
                    <button ng-click="goToSceneObjectEditor(child)" class="btn btn-sm btn-default">
                      <span class="glyphicon glyphicon-edit"></span>
                    </button>
                  </td>
                  <td>{{ child.name }}</td>
                  <td>{{ child.uuid }}</td>
                  <td>
                    <button ng-click="onRemoveChildButtonClicked(child)" class="btn btn-sm btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="panel-footer">
              <button ng-click="onAddChildButtonClicked()" class="btn btn-sm btn-success">Add Child</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
