<h2>Scene List</h2>
<br>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Scenes
        </div>
        <table class="table table-hover  table-condensed table-striped">
          <thead>
            <tr>
              <th>
              </th>
              <th>
                Name
              </th>
              <th>
                Objects
              </th>
              <th>
                UUID
              </th>
              <th>
                Remove
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="scene in project.scenes" ng-click="onSceneSelected(scene.uuid)">
              <td>
                <button ng-click="goToSceneEditor(scene.uuid)" class="btn btn-sm btn-default">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </td>
              <td>
                {{scene.name}}
              </td>
              <td>
                {{scene.objects.length}}
              </td>
              <td>
                {{scene.uuid}}
              </td>
              <td>
                <button ng-click="onRemoveSceneButtonClicked(scene.uuid)" class="btn btn-sm btn btn-danger btn btn-sm-sm"><span class="glyphicon glyphicon-remove"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="panel-footer">
          <button ng-click="onNewSceneButtonClicked()" class="btn btn-sm btn btn-success">New Scene</button>
          <br/>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div ng-show="currentScene !== undefined && currentScene !== null" class="panel panel-default">
        <div class="panel-heading text-center">
          Configure Scene
        </div>
        <table class="table table-condensed table-bordered table-striped">
          <tbody>
            <tr>
              <td>Name</td>
              <td>
                <input id="name" ng-disabled="currentScene === undefined" type="text" ng-change="modified()" class="form-control input-sm" ng-model="currentScene.name" />
              </td>
            </tr>
            <tr>
              <td>Notes</td>
              <td>
                <input type="text" ng-model="currentScene.notes" ng-change="modified()" class="form-control input-sm"/>
              </td>
            </tr>
            <tr>
              <td colspan=2>Camera</td>
            </tr>
            <tr>
              <td>Translation</td>
              <td>
                <div class="row">
                  <div class="col-md-4">
                    <input ng-change="modified()" ng-model="currentScene.camera.translation.x" class="form-control input-sm" type="number"/>
                  </div>
                  <div class="col-md-4">
                    <input ng-change="modified()" ng-model="currentScene.camera.translation.y" class="form-control input-sm" type="number"/>
                  </div>
                  <div class="col-md-4">
                    <input ng-change="modified()" ng-model="currentScene.camera.translation.z" class="form-control input-sm" type="number"/>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Rotation</td>
              <td>
                <div class="row">
                  <div class="col-md-4">
                    <input ng-change="modified()" ng-model="currentScene.camera.rotation.x" class="form-control input-sm" type="number"/>
                  </div>
                  <div class="col-md-4">
                    <input ng-change="modified()" ng-model="currentScene.camera.rotation.y" class="form-control input-sm" type="number"/>
                  </div>
                  <div class="col-md-4">
                    <input ng-change="modified()" ng-model="currentScene.camera.rotation.z" class="form-control input-sm" type="number"/>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Movement Speed</td>
              <td>
                <input ng-change="modified()" ng-model="currentScene.camera.movementSpeed" class="form-control input-sm" type="number"/>
              </td>
            </tr>
            <tr>
                <td colspan=2>Misc</td>
            </tr>
            <tr>
                <td>Clear Colour</td>
                <td>
                    <div class="row">
                        <div class="col-sm-3">
                            <input ng-change="modified()" ng-model="currentScene.clearColour.r" 
                             class="form-control input-sm" type="number"/>
                        </div>
                        <div class="col-sm-3">
                            <input ng-change="modified()" ng-model="currentScene.clearColour.g"
                             class="form-control input-sm" type="number"/>
                        </div>
                        <div class="col-sm-3">
                            <input ng-change="modified()" ng-model="currentScene.clearColour.b"
                             class="form-control input-sm" type="number"/>
                        </div>
                        <div class="col-sm-3">
                            <input ng-change="modified()" ng-model="currentScene.clearColour.a"
                             class="form-control input-sm" type="number"/>
                        </div>
                    </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
