<div class="text-center panel-heading">
  <h2>Dream Tool<br><small>from octronic</small></h2>
</div>
<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <h3>Version<br><small>v1.0.0a</small></h3>
      <h3>Developed By<br><small>Ashley '80' Thompson</small></h3>
      <h3>Web<br><small><a href="http://octronic.co.uk">octronic.co.uk</a></small></h3>
    </div>
    <div class="text-center col-sm-6">
      <a target="_blank" href="https://github.com/BashEdThomps/dream.git">
        <img style="margin-top: 2.5em;" width="64" height="64" src="img/github.png" />
        <h3>View on GitHub</h3>
      </a>
    </div>
  </div>
</div>
<div style="text-align: center;" class="panel-footer">
  <button ng-click="dismissModal()" class="btn btn-primary">Cool</button>
</div>
