<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Scene
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control input-sm" ng-model="currentScene.name"/>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           ng-change="modified()"
                                           ng-model="currentScene.animationEabled"/>Enable Animation
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-change="modified()"
                                           ng-model="currentScene.audioEnabled"/>Enable Audio
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-change="modified()"
                                           ng-model="currentScene.inputEnabled"/>Enable Input
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-change="modified()"
                                           ng-model="currentScene.bulletEnabled"/>Enable Bullet 
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button ng-click="onNewSceneButtonClicked()" class="btn btn-sm btn btn-success">New Scene</button>
                    <br/>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Scenes
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Objects
                            </th>
                            <th>
                                UUID
                            </th>
                            <th>
                                Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="scene in project.scenes" ng-click="onSceneSelected(scene.uuid)">
                            <td>
                                {{scene.name}}
                            </td>
                            <td>
                                {{scene.objects.length}}
                            </td>
                            <td>
                                {{scene.uuid.toUpperCase()}}
                            </td>
                            <td>
                                <button ng-click="onRemoveSceneButtonClicked(scene.uuid)"class="btn btn-sm btn btn-danger btn btn-sm-sm"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
