<div class="container-fluid">
    <h3>Scenes</h3>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Scenes
                </div>
                <div class="panel-body">
                    <form class="form-group">
                        <label>Scene Name</label>
                        <input type="text" class="form-control" ng-model="project.name"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
