<div class="container-fluid">
  <div ng-show="asset.type == 'animation'"
       ng-include="'/view/partials/project/asset/editors/animation.html'">
  </div>
  <div ng-show="asset.type == 'audio'"
       ng-include="'/view/partials/project/asset/editors/audio.html'">
  </div>
  <div ng-show="asset.type == 'physicsObject'"
       ng-include="'/view/partials/project/asset/editors/physicsObject.html'">
  </div>
  <div ng-show="asset.type == 'model'"
       ng-include="'/view/partials/project/asset/editors/model.html'">
  </div>
  <div ng-show="asset.type == 'script'"
       ng-include="'/view/partials/project/asset/editors/script.html'">
  </div>
  <div ng-show="asset.type == 'shader'"
       ng-include="'/view/partials/project/asset/editors/shader.html'">
  </div>
  <div ng-show="asset.type == 'light'"
       ng-include="'/view/partials/project/asset/editors/light.html'">
  </div>
</div>
