<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Project Configuration
        </div>
        <table class="table table-condensed table-bordered table-striped">
          <tbody>
            <tr>
              <td>Name</td>
              <td>
                <input type="text" ng-change="modified()" class="form-control input-sm" ng-model="project.name"/>
              </td>
            </tr>
            <tr>
              <td>Author</td>
              <td>
                <input type="text" ng-change="modified()" class="form-control input-sm" ng-model="project.author"/>
              </td>
            </tr>
            <tr>
              <td>Description</td>
              <td>
                <input type="text" class="form-control input-sm" ng-change="modified()" ng-model="project.description" />
              </td>
            </tr>
            <tr>
              <td>Startup Scene</td>
              <td>
                <select ng-model="project.startupScene" ng-change="modified()" class="form-control input-sm">
                  <option ng-repeat="scene in sceneList" value="{{scene.uuid}}">{{scene.name}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Animation</td>
              <td>
                <select class="form-control input-sm" ng-change="modified()" ng-model="selectedPlugins.animationPlugin">
                  <option value="dreamAnim">Dream</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Audio</td>
              <td>
                <select class="form-control input-sm" ng-change="modified()" ng-model="selectedPlugins.audioPlugin">
                  <option value="openAL">OpenAL</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Input</td>
              <td>
                <select class="form-control input-sm" ng-change="modified()" ng-model="selectedPlugins.inputPlugin">
                  <option value="glfwInput">GLFW Input</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Physics</td>
              <td>
                <select class="form-control input-sm" ng-change="modified()" ng-model="selectedPlugins.physicsPlugin">
                  <option value="bullet2">Bullet 2</option>
                  <option value="bullet3">Bullet 3</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Scripting</td>
              <td>
                <select class="form-control input-sm" ng-change="modified()" ng-model="selectedPlugins.scriptingPlugin">
                  <option value="chai">ChaiScript</option>
                  <option value="v8">JavaScript (v8)</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Video</td>
              <td>
                <select class="form-control input-sm" ng-change="modified()" ng-model="selectedPlugins.videoPlugin">
                  <option value="openGL">OpenGL</option>
                  <option value="vulkan">Vulkan</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
