<html ng-app="DreamTool">
<head>
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Dream Tool</title>
    <!-- Libraries -->
    <script src="angular.min.js"></script>
    <script src="ui-bootstrap-tpls.js"></script>
    <script src="angular-ui-router.min.js"></script>
    <script src="abn_tree_directive.js"></script>
    <script src="screenfull.js"></script>
    <script src="FileSaver.js"></script>
    <script src="Blob.js"></script>
    <script src="angular-file-saver.min.js"></script>
    <script src="angular-animate.min.js"></script>
    <script src="angular-sanitize.min.js"></script>
    <script src="ngToast.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/dream_tool.css">
    <link rel="stylesheet" href="abn_tree.css">
    <link rel="stylesheet" href="ngToast.min.css">
    <!-- Controllers -->
    <script src="controller/app.js"></script>
    <script src="controller/api_service.js"></script>
    <script src="controller/project_service.js"></script>
    <script src="controller/ui_service.js"></script>
    <script src="controller/util_service.js"></script>
    <script src="controller/index.js"></script>
    <script src="controller/config.js"></script>
    <script src="controller/generic.js"></script>
    <script src="controller/home.js"></script>
    <!-- Project Pages -->
    <script src="controller/project/project.js"></script>
    <script src="controller/project/scene/list.js"></script>
    <script src="controller/project/scene/editor.js"></script>
    <script src="controller/project/resource/list.js"></script>
    <script src="controller/project/resource/editor.js"></script>
    <!-- Modals -->
    <script src="controller/modals/yes_no.js"></script>
    <script src="controller/modals/open.js"></script>
</head>
<body ng-controller="index" ngsf-fullscreen class="fullscreen">
    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#home" class="navbar-brand">
                    <strong>
                        Dream Tool
                    </strong>
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a  ng-click="onNewButtonClicked()">
                        <span aria-hidden="true" class="glyphicon-toolbar glyphicon glyphicon-file"></span>
                    </a>
                </li>
                <li>
                    <a  ng-click="onOpenButtonClicked()">
                        <span aria-hidden="true" class="glyphicon-toolbar glyphicon glyphicon-folder-open"></span>
                    </a>
                </li>
                <li>
                    <a  ng-click="onSaveButtonClicked()">
                        <span aria-hidden="true" class="glyphicon-toolbar glyphicon glyphicon-floppy-disk"></span>
                    </a>
                </li>
				<li>
					<a  ng-click="onPlayButtonClicked()">
						<span class="glyphicon glyphicon-play"</span>
					</a>
				</li>
                <li>
                    <a ng-click="onPackageButtonClicked()">
                        <span class="glyphicon glyphicon-gift"></span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a  ng-click="onSettingsButtonClicked()">
                        <span aria-hidden="true" class="glyphicon-toolbar glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Toast Alerts -->
    <toast></toast>
    <!-- Page Container -->
    <div class="container-fluid">
        <!-- Page Content -->
        <div class="row">
            <div class="col-md-2">
                <div class="fill well">
                    <abn-tree expand-level="5" tree-data="treeData">
                    </abn-tree>
                </div>
            </div>
            <div class="col-md-10">
                <div class="fill well">
                    <ol class="breadcrumb">
                        <li ng-repeat="bc in breadcrumbs">{{ bc }}</li>
                    </ol>
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
