<div class="container-fluid">
    <h1>Resource Editor</h1>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Configuration
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="resource.name"/>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select ng-model="resource.type" class="form-control" id="type">
                            <option ng-repeat="type in getResourecTypes()">{{type}}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="resource.type === 'Model'">
                        <label for="type">Model File Format</label>
                        <select ng-model="resource.format" class="form-control" id="type">
                            <option value="obj">Wavefront OBJ</option>
                        </select>
                        <br />
                        <label for="file">Model</label>
                        <input type="file" id="model-file" name="model-file" />
                        <br/>
                        <label for="file">Material</label>
                        <input type="file" id="material-file" name="material-file" />
                    </div>
                    <div class="form-group" ng-show="resource.type === 'Sound Effect' || resource.type === 'Music'">
                        <label for="type">Sound File Format</label>
                        <select ng-model="resource.format" class="form-control" id="type">
                            <option value="wav">WAVE</option>
                            <option value="ogg">Ogg Vorbis</option>
                        </select>
                        <br />
                        <label>Sound File</label>
                        <input type="file" id="file1" onchange="angular.element(this).scope().fileNameChanged(this)"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Usage
                </div>
                <div class="panel-body">
                    Usage in Scene/SceneObjects
                </div>
            </div>
        </div>
    </div>
</div>
