<div class="container-fluid">
    <h1>Resources</h1>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Resource
                </div>
                <div class="panel-body">
                    <form class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" ng-model="newResource.name"/>
                    </form>
                    <button ng-click="onNewResourceClearButtonClicked()" class="btn btn-danger">Clear</button>
                    <button ng-click="onNewResourceAddButtonClicked()" class="btn btn-success pull-right">Add</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Resources
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Path
                            </th>
                            <th>
                                Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="resource in project.resources">
                            <td>
                                {{resource.name}}
                            </td>
                            <td>
                                {{resource.type}}
                            </td>
                            <td>
                                {{resource.path}}
                            </td>
                            <td>
                                <button ng-click="onRemoveResourceButtonClicked(resource.name)"class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
